*{
   	margin:0;padding:0;list-style: none;text-decoration: none;
}
#logo{
    float: left;margin:-5px 5px 0 0;
}
form{
    background: white;float: left;
}
#search-input{
    font-size:12px;position:absolute;padding-left:55px;outline:none;width:550px;height:40px;line-height:40px;float:left;border:1px solid #000;
}
#search-button{
    border:1px solid #000;margin:0px;position:absolute;background-image:url("../img/cn_searchbt_hp.png");background-repeat:no-repeat;width:50px;height:42px;float: left;
}
#wrapper{
    position:absolute;top:145px;left:100px;
}
#spliteline{
	posotion:absolute;margin-top:250px;left:300px;border:1px solid #000;
}
#content1{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;line-height:20px;posotion: absolute;margin-top:20px;margin-left:100px;left:20px;width:180px;height:80px;
}
#content2{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;posotion:absolute;line-height:20px;margin-top:10px;margin-left:100px;left:230px;width:180px;height:340px;
}
#content3{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;posotion:absolute;line-height:20px;margin-top:-350px;margin-left:300px;left:270px;width:200px;height:80px;
}
#content4{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;posotion:absolute;line-height:20px;margin-top:10px;margin-left:300px;left:270px;width:200px;height:80px;
}
#content5{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;posotion:absolute;line-height:20px;margin-top:10px;margin-left:300px;left:270px;width:230px;height:80px;
}
#seek{
	position:absolute;margin:0;padding:0;margin-top:-225px;margin-left:100px;
}
#seek:hover{
	background:#708090;color:#fff;cursor:pointer;
}
#seek p{
	position:absolute;font-size:26px;font-family:"PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;;
}
#content1:hover{
	background:#708090;color:white;cursor:pointer;
}
#content2:hover{
	background:#708090;color:white;cursor:pointer;
}
#content3:hover{
	background:#708090;color:white;cursor:pointer;
}
#content4:hover{
	background:#708090;color:white;cursor:pointer;
}
#content5:hover{
	background:#708090;color:white;cursor:pointer;
}
#spliteleftright{
	position:absolute;float:right;border:1px solid red;width:100px;
}