*{
   	margin:0;padding:0;list-style: none;
}
#wrapper{
	position: relative;
}
#logo{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: 40px;
	margin: 250px auto;
}
form{
    background:white;width:600px;height:40px;
}
#search-input{
	vertical-align:middle;
    overflow: hidden;
    font-size:16px;
    position:relative;
    padding-left:10px;
    outline:none;
    width:537px;
    height:40px;
    line-height:40px;
    border-left:1px solid #000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    float:left;
}
#search-button{
	vertical-align:middle;
    border:1px solid #000;
    margin:0 0 0 -1px;
    position:relative;
    background-image:url("../img/cn_searchbt_hp.png");
    background-repeat:no-repeat;
    width:50px;
    height:42px;
    float:left;
}
#spliteline{
	posotion:absolute;margin-top:250px;border:1px solid #000;
}
#content1{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;line-height:20px;posotion: absolute;margin-top:20px;margin-left:100px;left:20px;width:180px;height:80px;
}
#content2{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;posotion:absolute;line-height:20px;margin-top:10px;margin-left:100px;left:230px;width:180px;height:340px;
}
#content3{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;posotion:absolute;line-height:20px;margin-top:-350px;margin-left:300px;left:270px;width:200px;height:80px;
}
#content4{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;posotion:absolute;line-height:20px;margin-top:10px;margin-left:300px;left:270px;width:200px;height:80px;
}
#content5{
	border-left:1px solid #000;padding-left:10px;padding-top:10px;font-size:12px;posotion:absolute;line-height:20px;margin-top:10px;margin-left:300px;left:270px;width:230px;height:80px;
}
#seek{
	position:absolute;margin:0;padding:0;margin-top:-225px;margin-left:100px;
}
#seek:hover{
	background:#708090;color:#fff;cursor:pointer;
}
#seek p{
	position:absolute;font-size:26px;font-family:"PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
}
#content1:hover{
	background:#708090;color:white;cursor:pointer;
}
#content2:hover{
	background:#708090;color:white;cursor:pointer;
}
#content3:hover{
	background:#708090;color:white;cursor:pointer;
}
#content4:hover{
	background:#708090;color:white;cursor:pointer;
}
#content5:hover{
	background:#708090;color:white;cursor:pointer;
}
#spliteleftright{
	position:absolute;float:right;border:1px solid red;width:200px;
}
#SensitiveWordDiv{
	border:1px solid #000;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 1px;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    background: white;
	overflow: hidden;
	width: 600px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#SensitiveWordDiv p{
	padding: 0.2em 0.4em;
}